/FinalProjectLibrary/nbproject/private/
/FinalProjectUI/nbproject/private/
/FinalProjectUI/build/
/FinalProjectUI/dist/
/FinalProjectLibrary/dist/
/FinalProjectLibrary/build/

# ignore DB4O file
*.db4o